In [2]:
import pandas as pd
from pandas.api.types import CategoricalDtype

import seaborn as sns

# Importing Necessary Python Libraries.

In [10]:
# Reading datasets for all 12-month data (2023) 
jan2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202301-divvy-tripdata\\202301-divvy-tripdata.csv")
feb2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202302-divvy-tripdata\\202302-divvy-tripdata.csv")
march2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202303-divvy-tripdata\\202303-divvy-tripdata.csv")
april2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202304-divvy-tripdata\\202304-divvy-tripdata.csv")
may2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202305-divvy-tripdata\\202305-divvy-tripdata.csv")
june2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202306-divvy-tripdata\\202306-divvy-tripdata.csv")
july2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202307-divvy-tripdata\\202307-divvy-tripdata.csv")
aug2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202308-divvy-tripdata\\202308-divvy-tripdata.csv")
sep2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202309-divvy-tripdata\\202309-divvy-tripdata.csv")
oct2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202310-divvy-tripdata\\202310-divvy-tripdata.csv")
nov2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202311-divvy-tripdata\\202311-divvy-tripdata.csv")
dec2023 = pd.read_csv("C:\\Users\\Pavithra\\Desktop\\Input\\202312-divvy-tripdata\\202312-divvy-tripdata.csv")

In [11]:
# List of all months' data
yearly_df = [jan2023, feb2023, march2023, april2023, may2023, june2023, july2023, aug2023, sep2023, oct2023, nov2023, dec2023]
# Aggregating them into a single dataset
trip_data = pd.concat(yearly_df)
df = trip_data

In [12]:
trip_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224068,F74DF9549B504A6B,electric_bike,2023-12-07 13:15:24,2023-12-07 13:17:37,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874702,-87.649804,41.874640,-87.657030,casual
224069,BCDA66E761CC1029,classic_bike,2023-12-08 18:42:21,2023-12-08 18:45:56,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,casual
224070,D2CF330F9C266683,classic_bike,2023-12-05 14:09:11,2023-12-05 14:13:01,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member
224071,3829A0D1E00EE970,electric_bike,2023-12-02 21:36:07,2023-12-02 21:53:45,Damen Ave & Madison St,13134,Morgan St & Lake St*,chargingstx4,41.881396,-87.674984,41.885492,-87.652289,casual
224072,A373F5B447AEA508,classic_bike,2023-12-11 13:07:46,2023-12-11 13:11:24,900 W Harrison St,13028,Racine Ave & Congress Pkwy,TA1306000025,41.874754,-87.649807,41.874640,-87.657030,member

In [13]:
trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [14]:
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5719877 entries, 0 to 224072
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 610.9+ MB

In [15]:
trip_data.describe()

          start_lat     start_lng       end_lat       end_lng
count  5.719877e+06  5.719877e+06  5.712887e+06  5.712887e+06
mean   4.190288e+01 -8.764704e+01  4.190322e+01 -8.764720e+01
std    4.505556e-02  2.733412e-02  5.444371e-02  6.919621e-02
min    4.163000e+01 -8.794000e+01  0.000000e+00 -8.816000e+01
25%    4.188096e+01 -8.766000e+01  4.188103e+01 -8.766027e+01
50%    4.189902e+01 -8.764403e+01  4.190000e+01 -8.764410e+01
75%    4.193000e+01 -8.762991e+01  4.193000e+01 -8.763000e+01
max    4.207000e+01 -8.746000e+01  4.218000e+01  0.000000e+00

In [17]:
# Changing data type for date columns
trip_data['started_at'] = pd.to_datetime(trip_data['started_at'])
trip_data['ended_at'] = pd.to_datetime(trip_data['ended_at'])

In [18]:
trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [19]:
false_date = trip_data.loc[trip_data['started_at'] > trip_data['ended_at']]
# (No. of rows with false date, No. of coloumns)
false_date.shape

(272, 13)

In [20]:
#Rows with false dates being removed
td_clean = trip_data.drop(false_date.index.tolist())

In [21]:
# Checking for duplicates
td_clean.duplicated().sum()

0

In [22]:
# Looking into missing values
td_clean.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875315
start_station_id      875447
end_station_name      928832
end_station_id        928973
start_lat                  0
start_lng                  0
end_lat                 6987
end_lng                 6987
member_casual              0
dtype: int64

In [23]:
#Dropping the null values
td_dropna = td_clean.dropna()

# Viewing (No. of rows after dropping, No. of coloumns)
td_dropna.shape

(4330187, 13)

In [24]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [26]:
#Converting months into seasons
def conv_seasons(month):
    if(month>=3) and (month<=5):
        return 'Spring'
    elif(month>=6) and (month<=8):
        return 'Summer'
    elif(month>=9) and (month<=11):
        return 'Autumn'
    else:
        return 'Winter'

In [27]:
# Assigning datetime as weekday col (Monday = 0, Sunday = 6)
td_clean['weekday'] = td_clean['started_at'].dt.dayofweek

In [28]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3

In [29]:
#Caluclating trip duration in minutes
td_clean['trip_duration_minutes'] = round((td_clean['ended_at']-td_clean['started_at']).dt.total_seconds()/60,2)

In [30]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32

In [31]:
# Extracting season
td_clean['season'] = td_clean['started_at'].dt.month.map(conv_seasons)

In [32]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes,season
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85,Winter
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48,Winter
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23,Winter
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77,Winter
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32,Winter

In [33]:
#Replacing weekday numbers with its names
Weekday_names = {0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
td_clean['Weekday'] = td_clean['weekday'].map(Weekday_names)

In [34]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes,season,Weekday
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85,Winter,Saturday
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48,Winter,Tuesday
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23,Winter,Monday
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77,Winter,Sunday
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32,Winter,Thursday

In [35]:
# Replace 'cleaned_data.csv' with the desired filename

td_clean.to_csv('cleaned_data.csv', index=False)

In [36]:
#Count the rides; given the user type
td_usertype = td_clean['member_casual'].value_counts().rename_axis('member_casual').reset_index(name = 'count')

In [37]:
td_usertype

  member_casual    count
0        member  3659398
1        casual  2058347

In [38]:
#Calculating the mean of the trip duration
mean_trip_duration = td_clean['trip_duration_minutes'].mean()
print("Mean Trip Duration:", mean_trip_duration)

Mean Trip Duration: 18.184462138482914

In [43]:
# Calculating the maximum ride length
max_trip_duration_row = td_clean[td_clean['trip_duration_minutes'] == max_trip_duration_minutes]
print("Row with Maximum Trip Duration:")
print(max_trip_duration_row)

Row with Maximum Trip Duration:
                 ride_id rideable_type          started_at  \
747619  992B647C22E22513   docked_bike 2023-08-02 19:27:12

                  ended_at           start_station_name start_station_id  \
747619 2023-10-10 04:56:16  Campbell Ave & Montrose Ave            15623

       end_station_name end_station_id  start_lat  start_lng  end_lat  \
747619              NaN            NaN  41.961484 -87.692321      NaN

        end_lng member_casual  weekday  trip_duration_minutes  season  \
747619      NaN        casual        2               98489.07  Summer

          Weekday
747619  Wednesday

In [44]:
max_trip_duration_row = td_clean[td_clean['trip_duration_minutes'] == max_trip_duration_minutes]
print("Row with Maximum Trip Duration:")
print(max_trip_duration_row)

Row with Maximum Trip Duration:
                 ride_id rideable_type          started_at  \
747619  992B647C22E22513   docked_bike 2023-08-02 19:27:12

                  ended_at           start_station_name start_station_id  \
747619 2023-10-10 04:56:16  Campbell Ave & Montrose Ave            15623

       end_station_name end_station_id  start_lat  start_lng  end_lat  \
747619              NaN            NaN  41.961484 -87.692321      NaN

        end_lng member_casual  weekday  trip_duration_minutes  season  \
747619      NaN        casual        2               98489.07  Summer

          Weekday
747619  Wednesday

In [45]:
# Find the index of the row where the maximum value occurs in the trip_duration_minutes column
max_trip_duration_index = td_clean[td_clean['trip_duration_minutes'] == max_trip_duration_minutes].index
# Drop the row using its index
td_clean = td_clean.drop(max_trip_duration_index)
# Verify that the row has been dropped
print("Row with maximum trip duration dropped.")

Row with maximum trip duration dropped.

In [46]:
# Calculating the maximum ride length
max_trip_duration_row = td_clean[td_clean['trip_duration_minutes'] == max_trip_duration_minutes]
print("Row with Maximum Trip Duration:")
print(max_trip_duration_row)

Row with Maximum Trip Duration:
Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, weekday, trip_duration_minutes, season, Weekday]
Index: []

In [47]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes,season,Weekday
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85,Winter,Saturday
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48,Winter,Tuesday
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23,Winter,Monday
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77,Winter,Sunday
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32,Winter,Thursday

In [51]:
td_clean['trip_duration_minutes'] = round((td_clean['ended_at'] - td_clean['started_at']).dt.total_seconds() / 60, 2)

In [52]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes,season,Weekday,duration_minutes
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85,Winter,Saturday,10.85
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48,Winter,Tuesday,8.48
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23,Winter,Monday,13.23
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77,Winter,Sunday,8.77
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32,Winter,Thursday,15.32

In [54]:
td_clean.drop(columns=['duration_minutes'], inplace=True)

In [55]:
td_clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,weekday,trip_duration_minutes,season,Weekday
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member,5,10.85,Winter,Saturday
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,1,8.48,Winter,Tuesday
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual,0,13.23,Winter,Monday
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,6,8.77,Winter,Sunday
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member,3,15.32,Winter,Thursday

In [56]:
# Count the rides; given both user, and bike type
td_user_bike = td_clean.groupby(['member_casual','rideable_type'])['ride_id'].count().rename_axis(['member_casual', 'rideable_type']).reset_index(name = 'count')
td_user_bike

  member_casual  rideable_type    count
0        casual   classic_bike   876546
1        casual    docked_bike    78260
2        casual  electric_bike  1103539
3        member   classic_bike  1818508
4        member  electric_bike  1840890

In [59]:
#Count the no. of rides based on rider type and days of week
td_day_riders = td_clean.groupby(['member_casual', 'Weekday'])['weekday'].count().rename_axis(['member_casual', 'weekday']).reset_index(name = 'count')
td_day_riders

   member_casual    weekday   count
0         casual     Friday  311816
1         casual     Monday  234746
2         casual   Saturday  410557
3         casual     Sunday  335546
4         casual   Thursday  270494
5         casual    Tuesday  246124
6         casual  Wednesday  249062
7         member     Friday  531417
8         member     Monday  494391
9         member   Saturday  472703
10        member     Sunday  408689
11        member   Thursday  589402
12        member    Tuesday  576558
13        member  Wednesday  586238

In [63]:
#Average ride duration based on rider type, and weekday
Avg_day_rider = td_clean.groupby(['member_casual', 'Weekday'])['trip_duration_minutes'].mean().rename_axis(['member_casual', 'weekday']).reset_index(name = 'avg_duration_min')
# Avg duration rounded to 2 decimal points
Avg_day_rider['avg_duration_min'] = round(Avg_day_rider['avg_duration_min'], 2)
Avg_day_rider

   member_casual    weekday  avg_duration_min
0         casual     Friday             27.27
1         casual     Monday             27.72
2         casual   Saturday             32.14
3         casual     Sunday             32.86
4         casual   Thursday             24.71
5         casual    Tuesday             25.09
6         casual  Wednesday             23.88
7         member     Friday             12.48
8         member     Monday             11.90
9         member   Saturday             13.94
10        member     Sunday             13.99
11        member   Thursday             12.02
12        member    Tuesday             12.01
13        member  Wednesday             11.95